[submodule "seastar"]
	path = seastar
	url = ../seastar
	ignore = dirty
[submodule "swagger-ui"]
	path = swagger-ui
	url = https://github.com/scylladb/scylla-swagger-ui
	ignore = dirty
[submodule "dist/ami/files/scylla-ami"]
	path = dist/ami/files/scylla-ami
	url = https://github.com/scylladb/scylla-ami
